<style>
    .timeline-body.ng-binding img {max-width: 100%;}
    .timeline-body.ng-binding {text-align: justify;}
</style>
<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    {{story.created| date}}
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{story.created| date}}</span>
                    <h3 class="timeline-header">{{story.heading}}</h3>
                    <div class="timeline-body" ng-bind-html="story.story | to_trusted"></div>
                    <div class="timeline-footer">
                        <!--<a class="btn btn-primary btn-xs">Read more</a>-->
                        <a class="btn btn-danger btn-xs">Delete</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <li>
                <i class="fa fa-clock-o"></i>
            </li>
        </ul>
    </div><!-- /.col -->
</div>